@model BookType

<h3 class="text-center">New Book Type Add Page</h3>
<form method="post" asp-controller="BookType" asp-action="Create" asp-area="Management">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
