@using LibraryManagement_CodeFirst.Dto
@model (Book book,List<AuthorDto> authors,List<BookTypeDto> bookTypes)
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Book Add Page</h3>
<form method="post" asp-controller="Book" asp-action="Create">
    <div class="mb-3">
        <label class="form-label" asp-for="book.Name">Name</label>
        <input type="text" class="form-control" asp-for="book.Name"/>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.PageCount">Page Count</label>
        <input type="text" class="form-control" asp-for="book.PageCount" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.AuthorID">Author</label>
        <select class="form-control" asp-for="book.AuthorID" asp-items="@(new SelectList(Model.authors,"ID","FullName"))"></select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.BookTypeID">Book Type</label>
        <select class="form-control" asp-for="book.BookTypeID" asp-items="@(new SelectList(Model.bookTypes,"ID","Name"))"></select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

